/*Homework 1 - Building a wireframe*/

body {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    text-align: center;
    margin-left: 250px;
    font-size: 18px;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    text-align: center;
    width: 960px;
    margin-top: 5px;
}
nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    text-align: center;
    width: 960px;
}

.section {padding: 10px;
    padding-top: 30px;
    height: 240px;
    width: 495px;
    background-color: #ebebeb;
    color: #777;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}
.article {
    background: #777;
    padding: 5px;
    height: 160px;
    width: 96%;
    color: #ebebeb;
    margin-top: 50px;
    margin-left: 5px;
    overflow: auto
}

#h {height: 30px;
    width: 90%;
    margin-left: 15px;
    font-size: 15px;
    padding: 5px;
    color: #777;
    background: #ebebeb;
    position: center;
}

.p {height: 35px;
    margin-left: 15px;
    padding: 5px;
    width: 90%;
    color: #777;
    background: #ebebeb;
}

.aside {padding-top: 30px;
    height: 250px;
    width: 470px;
    background-color: #ebebeb;
    color: #777;
    float: left;
    margin-left: 15px; margin-bottom: 15px}

    .footer{
        display: block ;
        clear: both;
        padding: 20px;
        margin-top: 30px;
        background-color: #ebebeb;
        position: relative;
        width: 960px;
        color: #777

    }
    
    .container {
        overflow: auto;
    }